*{
	margin: 0;
	padding: 0;
}
i,em,cite,var{
	font-style: normal;
}
body,html{
	width: 100%;
	height:100%;
	background: #E9E9E9;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
	color: #006CDA;
}
li{
	list-style: none;
}
/*2017-01-13 by@bo*/
.sContent{
	width: 976px;
	margin: 0 auto;
}
.sDrawMsg{
	display: block;
	border: 1px solid #CECECE;
	background-color: #fff;
	line-height: 32px;
	margin-top: 10px;
	text-indent: 10px;
}
.sDrawMsg img{
	float: right;
	padding-top: 8px;
	padding-right: 12px;
}
.sMain{
	width: 976px;
	/*overflow: hidden;*/
	margin-bottom: 40px;
}
.sMain>a{
	display: block;
	position: fixed;
	bottom: 100px;
	left: 50%;
	margin-left: 500px;
}
.sclear{
	clear: both;
}
/*左边*/
.lslide{
	width: 656px;
	margin-top: 10px;
	float: left;
	background-color: #fff;
	padding: 0px 30px 54px;
	border: 1px solid #CFCFCF;
	position: relative;
}
.sTop{
	text-align: center;
}
.sTop>a{
	display: block;
	padding-bottom: 10px;
}
.sTopT{
	overflow: hidden;
	font-size: 28px;
}
.sTopb>a{
	display: block;
	line-height: 50px;
}
.sSec h5{
	text-align: center;
	font-size: 14px;
	color: #333;
	line-height: 54px;
}
.cb{
	color: #2E3335 !important;
}
.er{
	text-align: center;
}
.bb{
	border-bottom: 1px solid #E9E9E9;
}
.mb-30{
	margin-bottom: 30px;
}
.cr{
	color: red !important;
}
.sTopT h4{
	line-height: 60px;
	color: red;
	font-size: 25px;
	float: left;
	text-indent: 10px;
}
.sTopT strong{
	float: right;
	color: red;
	font-weight: 800;
	line-height: 60px;
	font-size: 18px;
	padding-right: 20px;
}
.sTopT strong em{
	background-color: red;
	color: #fff;
}
.sTopT img{
	padding-left: 80px;
	float: left;
	vertical-align: text-bottom;
}
.sTopT span{
	display: block;
	float:left;
	padding-left: 20px;
	padding-top: 44px;
	color: #6C6C6C;
}
.sTopT span em{
	color: red;
}
.sTopBg{
	margin: 8px 0px 12px;
}
.sTopBg img{
	width: 656px;
}
.sTopb strong,.sTopb span{
	display: block;
	font-size: 14px;
	color: #333;
	line-height: 32px;
}
.sTopb span img{
	vertical-align: text-bottom;
	padding-right: 3px;
}
.sSec h4{
	line-height: 40px;
	background-color: #EDF7FD;
	text-indent: 15px;
}
.sSecb {
	line-height: 24px;
	padding-left: 30px;
}
.sSecb button{
	width: 122px;
	height: 34px;
	background-color: #0075C9;
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	margin: 8px 0px;
}
.sSecc{
	padding-left: 14px;
	overflow: hidden;
}
.cT{
	display: block;
	line-height: 40px;
}
.sSecL{
	float: left;
}
.sSecR{
	padding-left: 14px;
	float: left;
}
.sSecR span{
	display: block;
	color: #0076CB;
	font-size: 14px;
}
.sSel{
	padding-top: 10px;
}
.sSel input{
	width: 260px;
	height: 24px;
}
.sSel button{
	width: 56px;
	height:26px;
	background-color: #0075C9;
	color: #FFFFFF;
	border: none;
	outline: none;
	border-radius: 5px;
}
.sSecR p{
	width: 372px;
	font-size: 12px;
	line-height: 20px;
	padding-bottom: 15px;
}
.sShare{
	font-size: 12px;
}
.pt-8{
	padding-top: 8px;
}
.pb-8{
	padding-bottom: 8px;
}
.pt-40{
	padding-top: 40px;
}
.sShare a{
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
	color: #333;
}

.sico{
	text-align: left;
	padding-left: 20px;
	height: 16px;
	line-height: 16px;
	background: url(../../img/LuckDraw/jiathis_ico.png) no-repeat left center;
	
}
.sico_sina{
	background-position: 0px -96px;
}
.sico_qqwb{
	background-position: 0px -144px;
}
.sico_kaixin{
	background-position: 0px -176px;
}
.sico_renren{
	background-position: 0px -160px;
}
.sico_douban{
	background-position: 0px -560px;
}
.sico_qzon{
	background-position: 0px -64px;
}

.p-0{
	padding: 0px !important;
	border: none;
	background-color: #E9E9E9;
}
.line{
	position: relative;
	width: 100%;
	top: 30px;
	left: 0px;
	border-bottom: 1px solid #CFCFCF;
}
.sMenu{
	overflow: hidden;
	position: relative;
	top: 0px;
	left: 0px;
}
.sMenu li{
	float: left;
	width: 74px;
	height: 28px;
	text-align: center;
	color: #0C7FCE;
	line-height: 28px;
	margin-right: 5px;
	border: 1px solid #C8C8C8;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 11;
}
.sMenuContent{
	padding:20px 30px 28px;
	border-left: 1px solid #CFCFCF;
	border-right: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	background-color: #fff;
	min-height: 506px;
}
.sMenuContent h5{
	line-height: 36px;
	color: #6F7070;
	font-size: 14px;
}
.subMenu{
	border-bottom: 2px solid #F6F6F6;
	margin-bottom: 10px;
	padding-bottom: 5px;
	overflow: hidden;
}
.subMenu li{
	float: left;
	width: 60px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	color: #0C7FCE;
}
#table{
	clear: both;
	border: 2px solid #E7E7E7;
	text-align: center;
	border-collapse: collapse;
}
#table tr th{
	font-size: 14px;
	color: #333;
	font-weight: 800;
	background-color: #F7F7F7;
}
#table tr th:nth-child(1){
	width: 43.75%;
}
#table tr td{
	font-size: 12px;
	line-height: 16px;
}
#table tr:nth-child(n+2){
	border-bottom: 1px dashed #EDEDED;
}
#table tr th,#table tr td{
	padding:10.6px;
}


#table tr td img{
	vertical-align: middle;
}
#table tr td span{
	display: inline-block;
	width: 59.4%;
	text-align: left;
	vertical-align: middle;
	/*line-height: 18px;*/
}
#table tr td em,#table tr td label{
	display: block;
	line-height: 22px;
}
#table tr td label a{
	padding: 5px;
}

/*右边部分*/
.rslide{
	width: 236px;
	float:right;
	margin-top: 10px;
}
.sCustom{
	background-color: #fff;
	border: 1px solid #CFCFCF;
	padding-left: 15px;
}
.sCustom dt{
	font-size: 16px ;
	color: #333;
	line-height: 54px;
	font-weight:bold; 
}
.sCustom dd:nth-child(2){
	font-size: 25px;
	color: #006CDA;
	font-weight: bold;
}
.sCustom dd:nth-child(3){
	font-size: 12px;
	color: #333;
	padding-top: 10px;
	padding-bottom: 20px;
}
.sExpand,.sCue{
	margin-top: 10px;
	padding: 0px 15px;
	border: 1px solid #CFCFCF;
	background-color: #fff;
}
.sExpand h4,.sCue h4{
	line-height: 70px;
	color: #333;
	font-weight: bold;
	font-size: 16px;
}
.sExpand ul li:nth-child(1){
	padding-bottom: 15px;
}
.sExpand ul li:nth-child(n+2){
	padding-top: 15px;
	padding-bottom: 15px;
}
.sExpand ul li a img{
	width: 100%;
}
.sExpand ul li p{
	line-height: 20px;
	font-size: 12px;
	color: #333;
}
.sExpand ul li span{
	display: block;
	line-height: 28px;
}
.sExpand ul li span em{
	color: red;
	font-size: 16px;
	font-weight:900;
	letter-spacing: -1px;
}
.sExpand ul li span cite{
	font-size: 14px;
	padding-left: 12px;
}
.sExpand ul li span label{
	font-size: 12px;
	padding-left: 12px;
}
.sExpand ul li span a{
	display: inline-block;
	background: url(../../img/LuckDraw/dico_m.png) no-repeat;
	width: 67px;
	color: #fff;
	line-height: 28px;
	text-align: center;
	float: right;
	text-shadow: 2px 2px 2px #000;
}
.td{
	text-decoration: line-through;
}
.sSecc>a{
	display: block;
	line-height: 32px;
}
.sSecc>span{
	display: block;
	padding: 30px 0px 15px 5px;
}
.sSecc table{
	width: 100%;
	text-align: left;
}
.sSecc table tr th{
	background-color: #E2F8F9;
}
.sSecc table tr td{
	background-color: #F5F5F5;
}
.sSecc table tr th,.sSecc table tr td{
	width: 25%;
	line-height: 18px;
	padding: 10px;
	border: 1px solid #fff;
}
.sSeccp{
	font-size: 25px;
	color:#333;
	padding-top: 34px;
	text-align: right;
	padding-right: 27px;
}
.sCue{
	padding-bottom: 20px;
}
.sCue dl{
	color: #333;
	line-height: 18px;
}
.sCue dl dt{
	font-size: 14px;
	font-weight: 800;
}
.sCue dl dd{
	font-size: 12px;
	overflow: hidden;
}
.sCue dl dd em{
	float: left;
}

.sCue dl dd span{
	text-align: left;
	display: inline-block;
	width: 190px;
	float: left;
	padding-left: 5px;
}

.sCue dl dd span::after{
	clear: both;
}
/*菜单栏*/
.sMenuStyle{
	background-color: #fff;
	border-bottom: 1px solid #fff !important;
	color: #333 !important;
}
.subMenuStyle{
	background-color: #5296D1;
	color: #fff !important;
}


/*弹框*/
.msg{
	width: 344px;
	height: 185px;
	box-shadow: 1px 2px 12px 2px #A6A9AE;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: none;
}
.msgT{
	width: 100%;
	height: 34px;
	line-height: 34px;
	color: #E6E7E7;
	background-color: #1D3E78;
	font-size: 18px;
}
.msgT h4{
	display: inline-block;
	text-indent: 1em;
}
.msgT span{
	display: inline-block;
	width: 34px;
	text-align: center;
	float: right;
	background-color: #163064;
}
.msgCont{
	padding: 32px 28px;
	background-color: #fff;
	color: #333;
	font-size: 14px;
}
.msgCont p img{
	vertical-align: middle;
}
.msgCont p em{
	padding-left: 18px;
}
.msgBtn{
	text-align: center;
	color: #E6E7E7;
	line-height: 34px;
	margin-top: 20px;
}
.msgBtn span{
	display: inline-block;
	width: 74px;
	background: -webkit-linear-gradient(top,#2C58A8 50%,#1D3E78 50%);
	margin: 0px 6px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #1D3E78;
}

/*订单详情*/
.sDetailT,.sWithDrawT {
	border-bottom: 2px solid #EDEDED;
	padding-top: 10px;
	margin-bottom: 10px;
	
}
.sDetailT h3,.sWithDrawT h3{
	display: inline-block;
	font-size: 26px;
	line-height: 44px;
	color: #646566;
}
.sDetailT a,.sWithDrawT a{
	float: right;
	color: #78B3E1;
	padding-top: 24px;
	font-size: 14px;
}

.sOrderNow{
	background-color: #FFFBF2;
	border: 1px solid #FAE8C5;
	padding: 10px 15px;
	font-size: 13px;
}
.sOrderNow dt,.sOrderNow dd{
	line-height: 20px;
}
.sOrderNow dt{
	font-weight: bold;
}
.sOrderNow dt em{
	color: red;
}
.sDPay{
	width: 46px;
	height: 26px;
	display: inline-block;
	line-height: 26px;
	text-align: center;
	border-radius: 3px;
	margin-right:10px;
	color: #fff;
	background-color: #3368AA;
}
.sDDel{
	color: #2F89CD;
}

.table2{
	clear: both;
	width: 100%;
	border: 1px solid #DCEEFC;
	text-align: left;
	border-collapse: collapse;
}
.table2 caption{
	text-align: left;
	background-color: #D1E9FC;
	line-height: 32px;
	padding-left: 5px;
	font-weight: 900;
}
.table2 tr th:nth-child(n+2),.table2 tr td:nth-child(n+2){
	text-align: center;
}
.tl{
	text-align: left !important;
}
.table2 tr th,.table2 tr td{
	padding: 15px 5px;
	font-size: 14px;
}
.table2 tr td{
	font-size: 12px;
}
.cr{
	color: red;
}
.cg{
	color: #30A1A0;
}
.bcgray{
	background-color: #F6F6F6;
}
.p-1{
	padding: 15px 28px !important;
	
}
/*提交订单*/
.lslide h4{
	font-size: 14px;
	line-height: 38px;
}
.sProgressBar div{
	display: inline-block;
	position: relative;
	width: 32.9%;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.sProgressBar1{
	color: #fff;
	background-color: #346AAE;
}

.sProgressBar1:after,.sProgressBar2:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	right: -30px;
}
.sProgressBar1:after{
	border-left-color: #346AAE;
	z-index: 21;
}
.sProgressBar2:after{
	border-left-color: #ECECEC;
	z-index: 11;
}

.sProgressBar2,.sProgressBar3{
	color: #333;
	background-color: #ECECEC;
}
.sProgressBar2:before,.sProgressBar3:before{
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color:#fff;
	left: 0px;
}
.hehe{
	height: 60px;
}
.del,.add{
	display: inline-block;
	width: 12px;
	height: 12px;
	text-align: center;
	line-height: 12px;
	border: 1px solid #979797;
} 
.del{
	opacity: .5;
}
.count{
	width: 60px;
	height: 30px;
	outline: none;
	border: 1px solid #E1E1E2;
	text-align: center;
	font-size: 14px;
}
.bbd{
	border-bottom: 1px dashed #EEEEEE;
}
.payCount{
	color: red;
	font-size: 20px !important;
}
.sPO{
	height: 44px;
	margin-top: 32px;
	margin-bottom: 32px;
	overflow: hidden;
}
.sPO span{
	float: right;
	display: inline-block;
	line-height: 44px;
	width: 100px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	background-color: #346AAE;
	border-radius: 5px;
}

/*选择支付方式*/
.sPayStyleInfo dt,.sPayStyleInfo dd{
	font-size: 12px;
	line-height: 22px;
	text-align: left;
}
.payable2{
	font-size: 18px;
	font-weight: bold;
}
.payable2 strong{
	color: red;
}

.sPayStyles{
	background-color: #F7F7F7;
	padding: 20px;
}

.sCredit,
.sAlipay{
	display: none;
}
.sPayStyles>div h4{
	font-size: 14px;
}
.sNetPay dl dt{
	padding-bottom: 10px;
}
.sPayComm{
	overflow: hidden;
	display: none;
}
.otherCheck,.sPayComm li{
	float: left;
	line-height: 34px;
	margin-right: 30px;
}
.sPayComm li{
	padding-bottom: 10px;
}
.sPayComm li img,.otherCheck img{
	vertical-align: middle;
}
.other{
	display: inline-block;
	line-height: 34px;
	font-size: 13px;
}
.sPayBot dt,.sPayBot dd{
	text-align: right;
	line-height: 44px;
}
.sPayBot dt span{
	color: red;
}
#spay{
	width: 96px;
	line-height: 44px;
	text-align: center;
	background-color: #346AAE;
	color: #fff;
	outline: none;
	border-radius: 5px;
}
.mb-44{
	margin-bottom: 44px;
}
input[type=radio]{
	width: 14px;
	margin-left: 10px;
}
/*购买成功*/
.sOver{
	width: 100%;
	height: 400px;
	text-align: center;
}
.sOver span{
	font-size: 38px;
	color:red;
	line-height: 400px;
}
.p-5{
	padding: 5px;
}
.buyStyle{
	color: #fff;
	background-color: #5195CF;
}
.sNo,
.noCollecte{
	display: none;
}
.noCollecte div{
	width: 482px;
	height: 385px;
	margin-left: 45px;
	margin-top: 30px;
}

/*余额*/
.sBalanceCont{
	height: 34px;
	line-height: 34px;
	padding-bottom:22px;
	font-size: 14px;
}
.sBalanceCont var{
	color: red;
	font-size: 22px;
}
.sRecharge,.sWithdrawals{
	display: inline-block;
	width: 64px;
	line-height: 34px;
	text-align: center;
	border-radius: 5px;
	margin-left: 8px;
}
.sRecharge{
	color: #fff;
	background-color: #346AAE;
}
.sWithdrawals{
	background-color: #EDEDED;
}
/*提现记录*/
.sWithdrawalsNow{
	height: 42px;
	border: 1px solid #F8E3B8;
	background-color: #FFFBF2;
	padding-left: 5px;
	line-height: 42px;
	margin-bottom: 10px;
}
.sWithdrawalsNow span strong{
	color: red;
	font-size: 20px;
}
.sWithDrawInfo{
	padding-left: 20px;
	font-size: 12px;
	margin-bottom: 42px;
}
.sWithDrawInfo div{
	height: 25px;
}
.noWithDraw>span{
	color: #A1A1A1;
}
.canWithDraw strong{
	color: red;
}
/*充值*/
.balanceMoney{
	padding-left: 20px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
}
.balanceMoney input{
	width: 210px;
	border: 1.7px solid #FDAEA8;
	padding: 5px;
	margin-left: 13px;
	margin-right: 10px;
}
.balanceText{
	float: left;
}
.balanceMsg{
	display: none;
	float: left;
	border: 1px solid #FFD6D7;
	background-color: #FFF1F1;
	line-height: 30px;
	padding: 0px 5px;
	margin-left: 15px;
	color: #333;
}
.balanceMsg cite img{
	vertical-align: middle;
}
.balanceDiv button{
	display: block;
	width: 124px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	outline:none;
	border: none;
	color: #fff;
	background-color: #3469AD;
	border-radius: 5px;
	margin-left: 86px;
	margin-top: 15px;
}








