.xContent ul{
	padding-top: 23px;
}
.query-user input{
	width: 248px;
	text-indent: 8px;
}
.query-user button{
	width: 64px;
	height: 22px;
}
.rNav-left li:nth-child(1){
	background: rgb(33,63,123);
}
.rNav-left li:nth-child(4){
	background: rgb(16,31,75);
}
